<div class="container">
  <button class="add" (click)="open()">Добавить</button>
  <table class="tui-table">
    <tbody>
    <tr class="tui-table__tr tui-table__tr_border_none">
      <th class="tui-table__th">Id</th>
      <th class="tui-table__th">Название</th>
      <th class="tui-table__th">Описание</th>
      <th class="tui-table__th tui-table__th_last">Фото</th>
      <th class="tui-table__th tui-table__th_last">Кнопки</th>
    </tr>
    <tr class="tui-table__tr tui-table__tr_border_none" *ngFor="let product of products | async">
      <td class="tui-table__td">{{product._id}}</td>
      <td class="tui-table__td">
        <tui-input
          tuiTextfieldSize="s"
          style="width: 250px"
          [ngModel]="product.name"
          [ngModelOptions]="options"
          (ngModelChange)="onValueChange($event, 'name', product, products)"
        ></tui-input>
      </td>
      <td class="tui-table__td">
        <tui-input
          tuiTextfieldSize="s"
          style="width: 250px"
          [ngModel]="product.description"
          [ngModelOptions]="options"
          (ngModelChange)="onValueChange($event, 'description', product, products)"
        ></tui-input>
      </td>
      <td class="tui-table__td tui-table__td_last">
<!--          <tui-input-files-->
<!--            accept="image/*"-->
<!--            [ngModel]="product.photos"-->
<!--            [ngModelOptions]="options"-->
<!--            (ngModelChange)="onValueChange($event, 'photos', product, products)"-->
<!--          ></tui-input-files>-->
          <div class="photos">
            <div class="photo" *ngFor="let photo of product.photos">
              <img class="img-photo" [src]="photo"  />
<!--              <tui-svg src="tuiIconTrash" (click)="removeFile2(photo)" class="delete-img"></tui-svg>-->
            </div>
          </div>
<!--          <tui-file-->
<!--            *ngIf="product.photos as file"-->
<!--            [file]="file"-->
<!--            [showDelete]="control.enabled"-->
<!--            (removed)="removeFile(file)"-->
<!--          ></tui-file>-->
<!--          {{product.photos}}-->
      </td>
      <td class="tui-table__td tui-table__td_last buttons">
        <tui-svg src="tuiIconTrash" id="delete" (click)="deleteProduct(product._id)"/>
        <!--        <tui-svg src="tuiIconEdit"/>-->
      </td>
    </tr>
    </tbody>
  </table>
  <app-modal [isOpen]="isOpen">
    <div class="tui-container" style="margin: 0 auto; max-width: 450px;">
      <form [formGroup]="productForm">
        <div class="tui-row tui-row_sme">
          <div class="tui-col_8">
            <h3 class="tui-form__header tui-form__header_margin-top_none">Товар</h3>
            <div class="tui-form__row">
              <tui-input formControlName="nameValue">
                Название
                <input
                  placeholder="Настольные игры"
                  tuiTextfield
                />
                <span class="tui-required"></span>
              </tui-input>
              <tui-error
                formControlName="nameValue"
                [error]="[] | tuiFieldError | async"
              ></tui-error>
            </div>
            <div class="tui-form__row">
              <tui-input formControlName="descriptionValue">Описание</tui-input>
              <tui-error
                formControlName="descriptionValue"
                [error]="[] | tuiFieldError | async"
              ></tui-error>
            </div>
            <div class="tui-form__row">
              <tui-input-number formControlName="priceValue">Цена</tui-input-number>
              <tui-error
                formControlName="priceValue"
                [error]="[] | tuiFieldError | async"
              ></tui-error>
            </div>
            <div class="tui-form__row">
              <tui-select
                #select
                class="b-form"
                [formControl]="productForm.controls.categoryValue"
              >
                Выберите категорию
                <tui-data-list *tuiDataList>
                  <tui-opt-group>
                    <button
                      *ngFor="let category of categories | async"
                      tuiOption
                      [value]="category._id"
                    >
                      {{ category.name }}
                    </button>
                  </tui-opt-group>
                </tui-data-list>
              </tui-select>
            </div>
            <div class="tui-form__row">
              <tui-input-files
                accept="image/*"
                [formControl]="productForm.controls.photoValue"
                [multiple]="true"
                (ngModelChange)="control.markAsTouched()"
                (reject)="onReject($event)"
              ></tui-input-files>

              <tui-files class="tui-space_top-1">
                <tui-file
                  *ngFor="let file of productForm.controls.photoValue.valueChanges | async"
                  [file]="file"
                  [showDelete]="control.enabled"
                  (removed)="removeFile(file)"
                ></tui-file>
              </tui-files>

            </div>
            <div class="tui-form__row login-flex" style="margin-top: 20px;">
              <button
                size="l"
                tuiButton

                type="submit"
                (click)="submit()"
                class="tui-form__button"
              >
                Сохранить
              </button>
            </div>
          </div>
        </div>
      </form>
      <ngb-alert style="margin-top: 10px;" *ngIf="errorMessage" #selfClosingAlert type="danger" (closed)="errorMessage = ''">{{ errorMessage }}</ngb-alert>
    </div>
  </app-modal>
</div>
