
$white: #fff;
$half-blue: #ebf4fd;
$blue: #007aff;
$blue-hovered: #5555DF;
$yellow: #FED73E;
$red: #ff3b30;
$black: #0c0d1c;
$gray: #ECF0F6;
$half-gray: #808080;
$bejevii: #f6f4ec;
$gray-back: #f2f6fa;

$main-font: 'Lena', sans-serif;
$secondary-font: 'Euclid Circular A', sans-serif;
